/*index.blade.css
*/

#profiel {
  
    width:420px;
    margin-right: 10px;
    margin-left: 10px;
    height:2000px;  
    float: left;  
  }
  
  .profiel-line{
    padding-top:10px;
    margin-bottom: 10px;
    border : solid 1px #333 ;
    height:210px;
  }
  
  .profiel-head {
    margin-top:20px;
    text-align: center;
    background-color: #fff;
    width:330px;
    margin:0 auto;
  
  }
  
  .profiel-table{
    background-color: #fff;
    width:330px;
    margin:0 auto;
  }
  
  .my_photo{
    padding-left:10px;
    border-radius: 5px;
    margin: 15px 0px 10px 0px;
    float: left;
  }
  
  .my_photo img{
    margin-right:10px;
  }
  
  .my_photo p{
    margin-top:20px;
  
  }
  
  
  ul {
    list-style: none;
  }
  
  .my_info {
    float: left;
  }
  
  .my_photo img {
    float: left;
    border-radius: 100px;
  }
  
  .my_photo p {
    float: right;
    
  }
  
  .my_photo a{
    background-color: #5dca88;
  color: white;
  padding:5px 5px;
  border-radius:5px;
  box-shadow: 0 4px #1a7940;
  }
  
  
  .my_name{
    width:150px;
    
  }
  
  .profiel-edit {
  }
  
  .profiel-edit a{
    background-color: #5dca88;
    color: white;
    padding:10px 10px;
    border-radius: 5px;
    box-shadow: 0 4px #1a7940;
  }
  
  .profiel-edit a:hover{
    background-color: #5dca88;
    color: white;
    box-shadow: none;
    padding:10px 10px;
    border-radius: 5px;
    top: 7px;
    position: relative;
  }
  
  .article-top{
    width:400px;
    height:530px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border : solid 1px #333 ;
    background-color: aquamarine;
  }
  
  .post-top{
    width:400px;
    margin-right: 10px;
    float: left;
  }
  
  .post-top .input_text{
    width:270px;
  }
  
  
  .article-top h3{
    text-align: center;
    padding:8px 8px 8px 8px ;
    
  }
  
  
  .article-photo{
    float:left;
    
  }
  
  .article-text{
    height:40px;
  }
  
  .comment-memo{
    float: right;
    font-size: 12px;
  }
  
  .article-text .created-at{
    float:right;
    padding-right:50px;
  }
  
  
  .one-article{
    
    padding-top: 10px;
    padding-bottom: 10px;
    height:90px;
    border : solid 1px #333 ;
    padding:8px 8px 0px 8px ;
    background-color: #5dca88;
    margin:0px 7px 0px 7px;
  
  }
  
  .one-article img {
    border-radius: 30px;
    margin-right:20px;
  }
  
  
  .friend_top{
    width:400px;
    height:510px;
    float: left;
    border : solid 1px #333 ;
    background-color: aquamarine;
  }
  
  
  .friend-theme {
    margin-top:20px;
    text-align: center;
    margin:0 auto;
  
  }
  
  .friend-main{
    padding:10px 10px 10px 10px ;
  }
  
  .friend-serch{
    padding:5px 10px;
  }
  
  
  .serch-window{
    float: left;
    margin-right:10px;
  }
  
  .serch-submit input{
    background-color: #1a7940;
    color: white;
    box-shadow: 4px 4px #123c24;
  
  }
  
  .serch-submit input:hover{
    background-color: #1a7940;
    color: white;
    top: 4px;
    position: relative;
    box-shadow: none;
  }
  
  .friend-table{
    margin-top:10px;
    padding-top:20px;
    padding-left:10px;
    height:400px;
    background-color: #fff;
  }
  
  .friend-table-body a{
    margin-right:10px;
  }
  
  .iteration{
    margin-right:20px;
  }
  
  .iteration img{
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  
  
  .itr-name{
    margin-right:20px;
  }
  
  /*ここまでがIndex*/
  
  /*ここからがmessage画面*/
  
  
  .messages-top{
    width:900px;
    margin-left: 150px;
    text-align: center;
  }
  
  .friend-name{
    margin-bottom: 50px;
  }
  
  .send{
    margin-left: 600px;
    margin-bottom: 50px;
    text-align: center;
    width: 300px;
  }
  
  .my_info{
  }
  
  .my_info_name{
    text-align: left;
    width: 100px;
    float: left;
  }
  
  
  .my_info_photo{
    text-align: right;
    width: 50px;
    margin-left: 250px;
    margin-bottom: 7px;
  }
  
  .my_speek{
    padding:15px 0px 0.1px 0px;
    background-color: #38c172;
    border-radius: 30px;
  }
  
  .recieve{
    margin-right: 750px;
    margin-bottom: 50px;
    text-align: center;
    width: 300px;
  }
  
  .your_info{
  
  }
  
  .your_info_name{
    text-align: left;
    width: 100px;
    float: left;
  }
  
  .your_info_photo{
    text-align: right;
    width: 50px;
    margin-left: 250px;
    margin-bottom: 7px;
  }
  
  .your_speek{
    padding:15px 0px 0.1px 0px;
    background-color: #3490dc;
    border-radius: 30px;
    text-align: center;
  }
  
  
  /*
  ここまでがmessage画面
  ここからマイプロフィール画面
  */
  
  
  .my_prof_photo{
    margin-bottom: 50px;
    height:100px;
  
  }
  
  .my_prof_list{
  
  
  }
  
  
  /*
  ここまでがマイプロフィール画面
  ここからが編集画面
  */
  
  .edit-table{
    width:300px;
    margin-bottom:20px;
  }
  
  .photo-edit{
    float: left;
    width:600px;
    height:130px;
  }
  
  .edit_table{
  }
  
  
  .photo-edit .submit{
    background-color: #5dca88;
    color: white;
    padding:10px 10px;
    border-radius: 5px;
    box-shadow: 0 4px #1a7940;
  }
  
  .photo-edit .submit:hover{
    background-color: #5dca88;
    color: white;
    box-shadow: none;
    padding:10px 10px;
    border-radius: 5px;
    top: 7px;
    position: relative;
  }
  
  .photo-edit form{
    width:330px;
    float: left;
  }
  
  .photo-edit img{
    float: left;
    margin-right: 10px;
  }
  
  .edit-button{
    background-color: #5dca88;
    color: white;
    padding:10px 10px;
    border-radius: 5px;
    box-shadow: 0 4px #1a7940;
    width:170px;
  }
  
  .edit-button:hover{
    background-color: #5dca88;
    color: white;
    box-shadow: none;
    padding:10px 10px;
    border-radius: 5px;
    top: 7px;
    position: relative;
    width:170px;
  }
  
  